<template>
    <v-container>
        <Loader :visible="showLoader"/>
        <Snackbar :visible="snackData.visible" :message="snackData.message" :color="snackData.color"/>
        <v-row class="flex-column" align="center" >
            <v-col cols="10">
                <v-select
                    v-model="admin.username"
                    dark
                    :items="typesUser"
                    prepend-inner-icon="mdi-account-outline" 
                    label="Usuario"/>
            </v-col>
            <v-col cols="10">
                <v-text-field
                    v-model="admin.password"
                    dark 
                    label="Contraseña"
                    :rules="rulesPass"
                    :type="showPass ? 'text' : 'password'"
                    prepend-inner-icon="mdi-lock-outline"
                    :append-icon="showPass ? 'mdi-eye-off-outline' : 'mdi-eye-outline'" 
                    @click:append="showPass = !showPass" 
                />
            </v-col>
            <v-col cols="10">
                <v-btn dark outlined block @click="login">
                    Iniciar sesión
                </v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import Snackbar from "@/components/Snackbar";
import Loader from "@/components/Loader";
import { mapMutations } from "vuex";
import router from "../../router";
import axios from "axios";
import { VueEasyJwt } from "vue-easy-jwt";
const jwt = new VueEasyJwt();

export default {
    name: "LoginForm",
    components: { Loader, Snackbar },
    data:() => ({
        admin:{
            username:"",
            password:""
        },
        snackData: {
            visible: false,
            message: "",
            color: ""
        },
        typesUser: ["Presidente", "Secretario", "Tesorero", "Administrador"],
        showPass: false,
        rulesPass: [
			value => !!value || "Campo requerido",
			value => (value || "").length >= 8 || "Mínimo 8 carácteres"
        ],
        showLoader: false
    }),
    methods:{
        ...mapMutations(["saveUserData"]),
        // Login for special users
        async login() {
            try {
                this.showLoader = true;
                const { data } = await axios.post("/loginSpecial", this.admin);

                if(data !== "Usuario no encontrado" && data !== "Contraseña errónea") {
                    this.showLoader = false;
                    sessionStorage.setItem("token", data);
                    const userData = jwt.decodeToken(data);
                    this.saveUserData(userData);
                    router.push({ name: "Special" });
                }else{
                    this.showLoader = false;
                    this.snackData.message = data;
                    this.snackData.color = "error";
                    this.snackData.visible = true;
                    setTimeout(() => {
                        this.snackData.visible = false;
                    }, 3000);
                }

            } catch (error) { }
        }
    }
}
</script>