<template>
    <v-dialog v-model="visible" persistent>
        <Loader :visible="showLoader"/>
        <Snackbar :visible="snackData.visible" :color="snackData.color" :message="snackData.message"/>
        <v-form ref="cancelReservationForm">
            <v-card color="#E3F2FD">
                <v-toolbar flat color="#E3F2FD">
                    <span class="text-subtitle-1">Cancelar evento del {{ dateFormat }}</span>
                    <v-spacer></v-spacer>
                    <v-btn icon @click="closeForm(false)">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-card-text>
                    <v-btn color="error" block @click="cancelReservation">Cancelar</v-btn>
                </v-card-text>
            </v-card>
        </v-form>
    </v-dialog>
</template>

<script>
import EventBus from "../../bus";
import axios from 'axios';
import Loader from "@/components/Loader";
import Snackbar from "@/components/Snackbar";

export default {
    name: "CancelReservationForm",
    props: ["visible", "date"],
    components: { Loader, Snackbar },
    data: () => ({
        showLoader: false,
        snackData: {
            visible: false,
            color: "",
            message: ""
        }
    }),
    computed: {
        // only return a spanish format of date to show in form
        dateFormat() {
            return `${this.date.substring(8,10)}-${this.date.substring(5,7)}-${this.date.substring(0,4)}`;
        }
    },
    methods: {
        // close the form
        closeForm(executeRequest) {
            EventBus.$emit("closeCancelReservationForm", executeRequest);
            this.$refs.cancelReservationForm.reset();
        },
        async cancelReservation() {
            try {
                this.showLoader = true;
                const { data } = await axios.delete(`/reservation/${this.date}`, {
                    headers: { 
                        Authorization: `Bearer ${sessionStorage.getItem("token")}`
                    }
                });
                this.snackData.message = data;
                this.snackData.color = "success";
                this.showLoader = false;
                this.snackData.visible = true;
                setTimeout(() => {
                    this.snackData.visible = false;
                    this.closeForm(true);
                }, 2000);
            } catch (error) { }
        }
    }
}
</script>