<template>
    <v-dialog v-model="visible" persistent >
        <Snackbar :visible="snackData.visible" :message="snackData.message" :color="snackData.color" />
        <Loader :visible="showLoader" />
        <v-form v-model="isValid" ref="formRegister" autocomplete="off">
            <v-card color="#E3F2FD">
                <v-toolbar flat color="#E3F2FD">
                    <v-toolbar-title>Registro</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon @click="closeForm">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-text-field
                                v-model="user.name"
                                :rules="ruleRequired"
                                prepend-inner-icon="mdi-account-outline" 
                                label="Nombre completo" />
                            <v-text-field 
                                v-model="user.email"
                                :rules="rulesEmail"
                                prepend-inner-icon="mdi-email-outline" 
                                label="Correo" />
                            <v-text-field 
                                v-model="user.numberHouse"
                                :rules="rulesNumberHouse"
                                type="number"
                                prepend-inner-icon="mdi-home-outline"
                                label="No. Casa" />
                            <v-text-field
                                v-model="user.password"
                                :rules="rulesPass"
                                prepend-inner-icon="mdi-lock-outline"
                                :type="showPass ? 'text' : 'password'"
                                :append-icon="showPass ? 'mdi-eye-off-outline' : 'mdi-eye-outline'" 
                                @click:append="showPass = !showPass"
                                label="Contraseña" />
                            <v-text-field
                                v-model="comparePass"
                                :rules="confirmPass"
                                prepend-inner-icon="mdi-lock-outline"
                                :type="showComparePass ? 'text' : 'password'"
                                :append-icon="showComparePass ? 'mdi-eye-off-outline' : 'mdi-eye-outline'" 
                                @click:append="showComparePass = !showComparePass"
                                label="Confirmar contraseña" />
                        </v-row>
                        <v-row>
                            <v-btn :disabled="!isValid" block rounded color="success" @click="newUser">Registrarme</v-btn>
                        </v-row>
                    </v-container>
                </v-card-text>
            </v-card>
        </v-form>
    </v-dialog>
</template>

<script>
import EventBus from "../../bus";
import Snackbar from "@/components/Snackbar";
import Loader from "@/components/Loader";
import axios from "axios";

export default {
    name: "RegisterForm",
    props:["visible"],
    components: { Snackbar, Loader},
    data: () => ({
        user: {
            name: "",
            numberHouse: "",
            email: "",
            password: ""
        },
        isValid: true,
        comparePass: "",
        showPass: false,
        showComparePass: false,
        showLoader: false,
        snackData: {
            visible: false,
            message: "",
            color: ""
        },
        rulesPass: [
			value => !!value || "Campo requerido",
			value => (value || "").length >= 8 || "Mínimo 8 carácteres"
        ],
        rulesNumberHouse: [
			value => !!value || "Campo requerido",
			value => (value || "").length < 4 || "Número inválido"
        ],
        rulesEmail: [
			value => !!value || "Campo requerido",
			value => {
				const pattern = /^\w+([\.-]?\w+)*@\w+(\.com||\.com\.mx||\.mx||\.es)+$/;
				return pattern.test(value) || "Correo electrónico inválido";
			}
        ],
        ruleRequired: [
            value => !!value || "Campo requerido"
        ]
    }),
    computed: {
        // Verifica ambas contraseñas sean correctas
		confirmPass() {
			return [
				this.user.password === this.comparePass ||
					"Las contraseñas no coinciden"
			];
		}
    },
    methods: {
        // close the register form
        closeForm(){
            EventBus.$emit("closeRegisterForm");
            this.$refs.formRegister.reset();
        },
        // create a new user
        async newUser() {
            try {
                this.showLoader = true;
                const { data } = await axios.post("users", this.user);
                if(data === "Usuario creado") {
                    this.showLoader = false;
                    this.snackData.message = data;
                    this.snackData.color = "success";
                    this.snackData.visible = true;
                    setTimeout(() => {
                        this.snackData.visible = false;
                        this.closeForm();
                    }, 3000);
                } else {
                    this.showLoader = false;
                    this.snackData.message = data;
                    this.snackData.color = "error";
                    this.snackData.visible = true;
                    setTimeout(() => {
                        this.snackData.visible = false;
                    }, 3000);
                }
            } catch (error) { }
        }
    }
}
</script>