<template>
    <v-dialog v-model="visible" persistent>
        <Loader :visible="showLoader" />
        <Snackbar :visible="dataSnack.visible" :color="dataSnack.color" :message="dataSnack.message" />
        <v-form v-model="isValid" ref="formReservation" autocomplete="off">
            <v-card color="#E3F2FD">
                <v-toolbar flat color="#E3F2FD">
                    <v-toolbar-title>Reservar el {{ dateFormat }}</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon @click="closeForm(false)">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-text-field
                                v-model="dataReservation.description"
                                :rules="ruleDescription"
                                prepend-inner-icon="mdi-calendar-check"
                                label="Descripción del evento"
                            />
                        </v-row>
                        <v-row>
                            <v-btn :disabled="!isValid" block rounded color="success" @click="reserveDate">Reservar</v-btn>
                        </v-row>
                    </v-container>
                </v-card-text>
            </v-card>
        </v-form>
    </v-dialog>
</template>

<script>
import { mapState } from 'vuex';
import EventBus from "../../bus";
import Loader from '@/components/Loader';
import Snackbar from "@/components/Snackbar";
import axios from "axios";

export default {
    name: "ReservationForm",
    props:["visible", "date"],
    components: { Loader, Snackbar },
    data: () => ({
        isValid: true,
        showLoader: false,
        dataSnack: {
            visible: false,
            color: "",
            message: ""
        },
        dataReservation: {
            date: "",
            description: "",
            reservedBy: ""
        },
        ruleDescription: [
            value => !!value || "Campo requerido"
        ]
    }),
    computed: {
        ...mapState(["normalUser"]),
        // only return a spanish format of date to show in form
        dateFormat() {
            return `${this.date.substring(8,10)}-${this.date.substring(5,7)}-${this.date.substring(0,4)}`;
        }
    },
    methods: {
        // close the form
        closeForm(executeRequest) {
            EventBus.$emit("closeReservationForm", executeRequest);
            this.$refs.formReservation.reset();
        },
        // request to reserve a date
        async reserveDate() {
            try {
                this.dataReservation.date = this.date;
                this.dataReservation.reservedBy = this.normalUser.numberHouse;
                this.showLoader = true;
                const { data } = await axios.post("/reservation", this.dataReservation, {
                    headers: { 
                        Authorization: `Bearer ${sessionStorage.getItem("token")}`
                    }
                });
                this.dataSnack.message = data;
                this.dataSnack.color = "success";
                this.showLoader = false;
                this.dataSnack.visible = true;
                setTimeout(() => {
                    this.dataSnack.visible = false;
                    this.closeForm(true);
                }, 2000);
            } catch (error) { }
        }
    }
}
</script>