<template>
    <div class="main">
        <Snackbar :visible="snackData.visible" :message="snackData.message" :color="snackData.color"/>
        <p class="white--text" id="title" @click="clickToAdmin">El Campestre</p>
        <p class="white--text" id="subtitle" @click="clickToUser">Coto Lugano</p>
        <AdminLogin v-if="counterToAdmin >= 5"/>
        <LoginForm v-else/>
        <span class="white--text" @click="showRegisterForm">Regístrate aquí</span>
        <RegisterForm :visible="showForm" />
    </div>
</template>

<script>
import LoginForm from "@/components/normalUsers/LoginForm";
import RegisterForm from "@/components/normalUsers/RegisterForm";
import AdminLogin from "@/components/specialUsers/AdminLogin";
import Snackbar from "@/components/Snackbar";
import EventBus from "../bus";

export default {
    name: "Login",
    components: { LoginForm, RegisterForm, AdminLogin, Snackbar },
    data: () => ({
        showForm: false,
        counterToAdmin: 0,
        snackData: {
            visible: false,
            message: "",
            color: "warning"
        }
    }),
    methods: {
        // show the Register form
        showRegisterForm(){
            this.showForm = true;
        },  
        // increase the counter to show AdminForm
        clickToAdmin() {
            if(this.counterToAdmin <= 5) {
                this.counterToAdmin++;
                if(this.counterToAdmin >= 5) {
                    this.counterToAdmin = 9;
                    this.snackData.message = "Accediendo como usuario especial";
                    this.snackData.visible = true;
                    setTimeout(() => {
                        this.snackData.visible = false;
                    }, 3000);
                }
            }
        },
        // decrease the counter to show UserForm
        clickToUser() {
            if(this.counterToAdmin != 0) {
                this.counterToAdmin--;
                if(this.counterToAdmin < 5) {
                    this.counterToAdmin = 0;
                    this.snackData.message = "Regresando a usuario normal";
                    this.snackData.visible = true;
                    setTimeout(() => {
                        this.snackData.visible = false;
                    }, 3000);
                }
            }
        }
    },
    mounted(){
        EventBus.$on("closeRegisterForm", () => {
            this.showForm = false;
        });
    }
}
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
        
    *{
        font-family: 'Playfair Display', serif;
    }

    .main{
        background-image: linear-gradient(#1E88E5, #B0BEC5, #8BC34A);
        height: 100%;
        display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
    }

    #title{
        font-size: 3em;
    }

    #subtitle{
        font-size: 2rem;
    }
</style>