<template>
    <div v-if="rol == 0">
        <v-date-picker
            v-model="selectedDay"
            color="blue darken-1"
            locale="es"
            flat
            full-width
            :first-day-of-week="1"
            :picker-date.sync="date"
            :events="reservedDates"
            event-color="red lighten-1"
        />
        <v-card flat v-if="dateData.reservedBy !== ''">
            <v-card-title>Información del Evento</v-card-title>
            <v-card-text>
                <p class="text-body-1">Fecha reservada por la casa {{ dateData.reservedBy }}</p>
                <p class="text-body-1">Motivo: {{ dateData.description }}</p>
                <v-btn block color="warning" @click="showCancelForm">Cancelar reservación</v-btn>
            </v-card-text>
        </v-card>
        <v-card flat v-else>
            <v-card-text>
                <p class="text-h6 text-center">No hay evento reservado</p>
            </v-card-text>
        </v-card>
        <Loader :visible="showLoader" />
        <CancelReservationForm :visible="showCancelReservationForm" :date="selectedDay" />
    </div>

    <div v-else>
        <v-date-picker
            v-model="selectedDay"
            color="blue darken-1"
            locale="es"
            flat
            full-width
            :first-day-of-week="1"
            :allowed-dates="allowedDates"
            :picker-date.sync="date"
        />
        <Loader :visible="showLoader" />
        <ReservationForm :visible="showReservationForm" :date="selectedDay" />
    </div>
</template>

<script>
import { mapState } from 'vuex';
import EventBus from "../bus";
import axios from "axios";
import Loader from "@/components/Loader";
import ReservationForm from "@/components/normalUsers/ReservationForm";
import CancelReservationForm from "@/components/specialUsers/CancelReservationForm";

export default {
    name: "Calendar",
    components: { Loader, ReservationForm, CancelReservationForm },
    data: () => ({
        date: null,
        selectedDay: new Date().toISOString().substr(0, 10),
        showLoader: false,
        showReservationForm: false,
        showCancelReservationForm: false,
        dateData: {
            reservedBy: "",
            description: ""
        },
        reservedDates: [],
        reservedDatesData: []

    }),
    watch: {
        // watcher of variable at select a day
        selectedDay: function(val) {
            // if is normal user
            if(this.rol == 1) {
                this.showReservationForm = true;
            } else { //if is special user
                const dateSelected = this.reservedDatesData.find(element => element.date === val);
                if(dateSelected) {
                    this.dateData.reservedBy = dateSelected.reservedBy;
                    this.dateData.description = dateSelected.description;
                } else {
                    this.dateData.reservedBy = "";
                }
            }
        },
        // watcher of variable at change the month
        date: function(val) {
            this.getReservedDates(val);
        }
    },
    computed: {
        ...mapState(["rol"])
    },
    methods: {
        // function that return an array with the reserved dates
        allowedDates(val) {
            return !this.reservedDates.includes(val);
        },
        // request to get reserved dates
        async getReservedDates(date) {
            try {
                // reset the initial values to special user
                this.dateData.reservedBy = "";
                this.reservedDates = [];
                this.showLoader = true;

                const { data } = await axios.get(`/reservation/${date}`, {
                    headers: { 
                        Authorization: `Bearer ${sessionStorage.getItem("token")}`
                    }
                });
                this.reservedDatesData = data;
                for(let i of this.reservedDatesData) {
                    this.reservedDates.push(i.date);
                };
                this.showLoader = false;
            } catch (error) { }
        },
        // function that display the cancel reservation form
        showCancelForm() {
            this.showCancelReservationForm = true;
        }
    },
    mounted() {
        // event that close the reservation form
        EventBus.$on("closeReservationForm", (execute) => {
            if(execute) {
                this.getReservedDates(this.date);
            }
            this.showReservationForm = false;
        });
        // event that close the cancel reservation form
        EventBus.$on("closeCancelReservationForm", (execute) => {
            if(execute) {
                this.getReservedDates(this.date);
            }
            this.showCancelReservationForm = false;
        });
    }
}
</script>