<template>
    <v-overlay :value="visible"> 
        <v-progress-circular :size="70" indeterminate color="white"/>
    </v-overlay>
</template>

<script>
export default {
    name: "Loader",
    props: ["visible"]
}
</script>