<template>
    <div v-if="rol == 0">
        <p>Mailbox especial</p>
    </div>
    <div v-else>
        <p>Mailbox normal</p>
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
    name: "MailBox",
    computed: {
        ...mapState(["rol"])
    }
}
</script>