<template>
    <div>
        <v-bottom-navigation
            app
            v-model="value"
            dark
            shift
            grow
            :background-color="color"
        >
            <v-btn :value="1" @click="changeNumberPage(1)">
                <span>Reglas</span>
                <v-icon>mdi-clipboard-text-outline</v-icon>
            </v-btn>

            <v-btn :value="2" @click="changeNumberPage(2)">
                <span>Calendario</span>
                <v-icon>mdi-calendar-outline</v-icon>
            </v-btn>

            <v-btn :value="3" @click="changeNumberPage(3)">
                <span>Buzón</span>
                <v-icon>mdi-email-outline</v-icon>
            </v-btn>

            <v-btn :value="4" @click="logout">
                <span>Salir</span>
                <v-icon>mdi-exit-to-app</v-icon>
            </v-btn>

        </v-bottom-navigation>
        <Loader :visible="showLoader"/>
    </div>
</template>

<script>
import Loader from "@/components/Loader";
import { mapMutations } from 'vuex';
import router from "../router";
import axios from "axios";

export default {
    name: "Navigation",
    components: { Loader },
    data: () => ({
        value: 1,
        showLoader: false
    }),
    computed: {
        color() {
            switch(this.value) {
                case 1: return "red darken-1";
                case 2: return "blue darken-1";
                case 3: return "green darken-1";
                default: return "blue-grey";
            }
        }
    },
    methods: {
        ...mapMutations(["changeNumberPage", "deleteUserData"]),
        // close the current session
        async logout() {
            try {
                this.showLoader = true;
                await axios.get("/logout", { 
                    headers: { 
                        Authorization: `Bearer ${sessionStorage.getItem("token")}`
                    }
                });
                this.showLoader = false;
                this.deleteUserData();
            } catch (error) { }
        }
    }
}
</script>