<template>
    <div>
        <v-img :src="path" aspect-ratio="0.55"/>
        <v-overlay opacity="0.6" :z-index="1" >
            <p class="text-center" id="title">Reglas a seguir</p>
            <v-row class="d-flex flex-column">
                <p class="white--text" v-for="(rule, index) in rules" :key="index">{{ rule }}</p>
            </v-row>
        </v-overlay>
    </div>
</template>

<script>

export default {
    name: "Rules",
    data: () => ({
        path: require("@/assets/img/pool2.jpg"),
        rules:[
            "1.- No morder los perros.",
            "2.- No morder los perros.",
            "3.- No morder los perros.",
            "4.- No morder los perros.",
            "5.- No morder los perros.",
            "6.- No morder los perros.",
            "7.- No morder los perros.",
            "8.- No morder los perros.",
            "9.- No morder los perros.",
            "10.- No morder los perros.",
        ]
    })
}
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
    *{
        font-family: 'Playfair Display', serif;
        font-size: 1.2rem;
        font-weight: bold;
    }
    #title {
        font-size: 1.9rem;
    }
</style>