<template>
    <v-snackbar v-model="visible" :color="color" top outlined rounded="pill">
        {{ message }}
    </v-snackbar>
</template>

<script>
export default {
    name: "Snackbar",
    props: ["visible", "message", "color"]
}
</script>