<template>
    <div>
        <Rules v-if="numberPage == 1"/>
        <Calendar v-else-if="numberPage == 2"/>
        <Mailbox v-else-if="numberPage == 3"/>
        <Navigation />
    </div>
</template>

<script>
import Navigation from "@/components/Navigation";
import Calendar from "@/components/Calendar";
import Mailbox from "@/components/Mailbox";
import Rules from "@/components/Rules";
import { mapState } from 'vuex';

export default {
    name: "Normal",
    components: { Navigation, Calendar, Mailbox, Rules },
    computed: {
        ...mapState(["numberPage"])
    }
}
</script>